@import url("https://typekit.com/fonts/europa");
@import url("https://typekit.com/fonts/rift-soft");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

._primary-heading {
  font-family: Europe;
  color: #1B1C20;
  font-size: 30pt;
  font-weight: bold;
}

._secondary-heading {
  font-family: Europe;
  color: #1B1C20;
  font-size: 24pt;
  font-weight: bold;
}

._section-heading {
  font-family: Europe;
  color: #1B1C20;
  font-size: 18pt;
  font-weight: bold;
}

._subtitle-heading {
  font-family: Europe;
  color: #6E8CA0;
  font-size: 18pt;
  font-weight: light;
}

._card-title {
  font-family: Europe;
  color: #1B1C20;
  font-size: 15pt;
  font-weight: bold;
}

._card-copy-small {
  font-family: Europe;
  color: #6E8CA0;
  font-size: 15pt;
  font-weight: light;
}

._body-copy-small {
  font-family: Europe;
  color: #6E8CA0;
  font-size: 14pt;
  font-weight: light;
}

._message-time-stamp {
  font-family: Europe;
  color: #6E8CA0;
  font-size: 12pt;
  font-weight: light;
}

._button-label-dark {
  font-family: Rift Soft;
  color: #1B1C20;
  font-size: 14pt;
  font-weight: bold;
}

._button-label-light {
  font-family: Rift Soft;
  color: #FFFFFF;
  font-size: 14pt;
  font-weight: light;
}

._card-subtitle {
  font-family: Rift Soft;
  color: #6E8CA0;
  font-size: 10pt;
  font-weight: light;
}

/* The switch - the box around the slider */
.Categories-cards__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
._input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
._slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
._slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

._input:checked + ._slider {
  background-color: #87BCBF;
}
._input:checked + ._slider:focus + ._slider {
  box-shadow: 0 0 1px #87BCBF;
}
._input:checked + ._slider:checked + ._slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
._slider._round {
  border-radius: 34px;
}
._slider._round:before {
  border-radius: 50%;
}

.Header {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 1.5rem;
  width: 100%;
  gap: 0.7rem;
}
.Header__top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.Header__bottom-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.Header__nav {
  color: #324755;
}
.Header__icons-wrapper {
  display: flex;
  gap: 0.3rem;
}
.Header__icon-top {
  font-size: 1rem;
  color: #1B1C20;
}
.Header__time-exact {
  font-weight: bold;
}
.Header__icon-buttom {
  font-size: 1.5rem;
}
.Header__h1 {
  font-size: 1.5rem;
  color: #324755;
}

.Main {
  display: flex;
  justify-content: center;
}

.Search {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0 1rem 0.7rem 1rem;
  margin: 0;
  border-top: 0.08rem solid rgba(207, 202, 202, 0.822);
  border-bottom: 0.08rem solid rgba(207, 202, 202, 0.822);
  width: 100%;
}
.Search__input {
  background: #F0F3F4;
  padding: 1rem;
  margin: 1rem;
  z-index: 4;
  border-radius: 3px;
  color: #C8D1D3;
  border: none;
  width: 100%;
}
.Search__icon {
  position: relative;
  top: 3rem;
  left: 36%;
  z-index: 6;
  color: #C8D1D3;
}

.News-cards {
  margin: 6.7rem 0 0 0;
}

._collapsed {
  height: 0;
}

.News-category {
  display: flex;
  flex-flow: column nowrap;
}
.News-category__bar {
  display: flex;
  flex-flow: column nowrap;
}
.News-category__content-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top: 0.08rem solid rgba(207, 202, 202, 0.822);
  border-bottom: 0.08rem solid rgba(207, 202, 202, 0.822);
}
.News-category__title-wrapper {
  display: flex;
  align-items: center;
}
.News-category__img {
  object-fit: cover;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 100%;
  box-shadow: 0.08rem 0.7rem 1rem rgba(95, 93, 93, 0.7);
}
.News-category__title {
  padding-left: 1rem;
  text-transform: uppercase;
}
.News-category__icon-wrapper {
  display: flex;
  font-size: 1.3rem;
}
.News-category__icon-down {
  color: #324755;
}
.News-category__icon-right {
  color: #324755;
}
.News-category__cards-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.News-card {
  display: grid;
  grid-template-columns: 1fr 40%;
  grid-auto-rows: 21vh;
  transition: height 1.5s ease-in-out;
}
.News-card__front {
  display: flex;
  padding: 2rem 1rem;
  height: 21vh;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.News-card__img {
  object-fit: cover;
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 100%;
}
.News-card__text-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 1rem;
  width: 80%;
}
.News-card__h3 {
  margin-bottom: 0.4rem;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.News-card__p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.News-card__delete-div {
  height: 21vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D95454;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border: none;
}
.News-card__save-div {
  height: 21vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #87BCBF;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border: none;
}
.News-card__delete-save-icon {
  font-size: 2rem;
  color: white;
}

._settings-header {
  justify-content: center;
  align-items: center;
}
._settings-header__a {
  align-self: left;
}
._settings-header__i {
  align-self: left;
  position: relative;
  left: -5rem;
}

.Main-settings {
  background-color: #ECEFF0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}
.Main-settings__h2 {
  color: #87BCBF;
  font-size: 2.2rem;
  line-height: 0.8;
  margin: 3rem 0;
}
.Main-settings__h2-span {
  color: #6E8CA0;
  font-weight: lighter;
  font-size: 1.35rem;
}
.Main-settings__h4 {
  color: #6E8CA0;
  font-family: Europe;
  font-weight: lighter;
  font-size: smaller;
}

.Categories-cards {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 20px;
  background-color: white;
  margin: 3rem 1rem;
}
.Categories-cards__category-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.06rem solid rgba(175, 174, 174, 0.644);
}
.Categories-cards__h3 {
  text-transform: uppercase;
}
.Categories-cards__switch {
  margin: 1rem 0;
}

.color-modes-btn {
  border: 0.05rem solid #324755;
  background-color: none;
  font-family: Rift Soft;
  text-transform: uppercase;
  border-radius: 20px;
  color: #324755;
  padding: 1rem 1.6rem;
  width: fit-content;
  align-self: center;
  margin: 2rem 0;
  font-size: 1.1rem;
}