@import url("https://typekit.com/fonts/europa");
@import url("https://typekit.com/fonts/rift-soft");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

._primary-heading {
  font-family: Europe;
  color: #1B1C20;
  font-size: 30pt;
  font-weight: bold;
}

._secondary-heading {
  font-family: Europe;
  color: #1B1C20;
  font-size: 24pt;
  font-weight: bold;
}

._section-heading {
  font-family: Europe;
  color: #1B1C20;
  font-size: 18pt;
  font-weight: bold;
}

._subtitle-heading {
  font-family: Europe;
  color: #6E8CA0;
  font-size: 18pt;
  font-weight: light;
}

._card-title {
  font-family: Europe;
  color: #1B1C20;
  font-size: 15pt;
  font-weight: bold;
}

._card-copy-small {
  font-family: Europe;
  color: #6E8CA0;
  font-size: 15pt;
  font-weight: light;
}

._body-copy-small {
  font-family: Europe;
  color: #6E8CA0;
  font-size: 14pt;
  font-weight: light;
}

._message-time-stamp {
  font-family: Europe;
  color: #6E8CA0;
  font-size: 12pt;
  font-weight: light;
}

._button-label-dark {
  font-family: Rift Soft;
  color: #1B1C20;
  font-size: 14pt;
  font-weight: bold;
}

._button-label-light {
  font-family: Rift Soft;
  color: #FFFFFF;
  font-size: 14pt;
  font-weight: light;
}

._card-subtitle {
  font-family: Rift Soft;
  color: #6E8CA0;
  font-size: 10pt;
  font-weight: light;
}

/* The switch - the box around the slider */
.Categories-cards__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* Hide default HTML checkbox */
}
.Categories-cards__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
._slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
._slider :before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

._input:checked + ._slider {
  background-color: #2196F3;
}
._input:checked + ._slider :focus + ._slider {
  box-shadow: 0 0 1px #2196F3;
}
._input:checked + ._slider :checked + ._slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
._slider._round {
  border-radius: 34px;
}

._slider._round:before {
  border-radius: 50%;
}