@import url('https://typekit.com/fonts/europa');
@import url('https://typekit.com/fonts/rift-soft');
// resets
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// variables
// colors:
// -primary
$primary-sage: #87BCBF;
$primary-rust: #D97D54;
$primary-drab: #324755;
$primary-danger: #D95454;
//-secondary
$secondary-ice: #F0F3F4;
$secondary-fossil: #C8D1D3;
$secondary-sand: #B9B0A2;
//-typography
$typo-onyx: #1B1C20;
$typo-slate: #6E8CA0;
$typo-snow: #FFFFFF;
// typography - fonts:
$primary-typo: Europe;
$secondary-typo: Rift Soft;
// Typography utility classes
._primary-heading {
    font-family: $primary-typo;
    color: $typo-onyx;
    font-size: 30pt;
    font-weight: bold;
}

._secondary-heading {
    font-family: $primary-typo;
    color: $typo-onyx;
    font-size: 24pt;
    font-weight: bold;
}

._section-heading {
    font-family: $primary-typo;
    color: $typo-onyx;
    font-size: 18pt;
    font-weight: bold;
}

._subtitle-heading {
    font-family: $primary-typo;
    color: $typo-slate;
    font-size: 18pt;
    font-weight: light;
}

._card-title {
    font-family: $primary-typo;
    color: $typo-onyx;
    font-size: 15pt;
    font-weight: bold;
}

._card-copy-small {
    font-family: $primary-typo;
    color: $typo-slate;
    font-size: 15pt;
    font-weight: light;
}

._body-copy-small {
    font-family: $primary-typo;
    color: $typo-slate;
    font-size: 14pt;
    font-weight: light;
}

._message-time-stamp {
    font-family: $primary-typo;
    color: $typo-slate;
    font-size: 12pt;
    font-weight: light;
}

._button-label-dark {
    font-family: $secondary-typo;
    color: $typo-onyx;
    font-size: 14pt;
    font-weight: bold;
}

._button-label-light {
    font-family: $secondary-typo;
    color: $typo-snow;
    font-size: 14pt;
    font-weight: light;
}

._card-subtitle {
    font-family: $secondary-typo;
    color: $typo-slate;
    font-size: 10pt;
    font-weight: light;
}

// toggle for categories - slider styles

/* The switch - the box around the slider */

.Categories-cards__switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

._input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

._slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

._input:checked+._slider {
    background-color: $primary-sage;
    &:focus+._slider {
        box-shadow: 0 0 1px $primary-sage;
    }
    &:checked+._slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
}


/* Rounded sliders */

._slider._round {
    border-radius: 34px;
    &:before {
        border-radius: 50%;
    }
}

//header styles
.Header {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem 1.5rem;
    width: 100%;
    gap: 0.7rem;
    &__top {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    &__bottom-nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    &__nav {
        color: $primary-drab;
    }
    &__icons-wrapper {
        display: flex;
        gap: 0.3rem;
    }
    &__icon-top {
        font-size: 1rem;
        color: $typo-onyx;
    }
    &__time-exact {
        font-weight: bold;
    }
    &__icon-buttom {
        font-size: 1.5rem;
    }
    &__h1 {
        font-size: 1.5rem;
        color: $primary-drab;
    }
}

//main
.Main {
    display: flex;
    justify-content: center;
}

// search-bar styles
.Search {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0 1rem 0.7rem 1rem;
    margin: 0;
    border-top: 0.08rem solid rgba(207, 202, 202, 0.822);
    border-bottom: 0.08rem solid rgba(207, 202, 202, 0.822);
    width: 100%;
    &__input {
        background: #F0F3F4;
        padding: 1rem;
        margin: 1rem;
        z-index: 4;
        border-radius: 3px;
        color: $secondary-fossil;
        border: none;
        width: 100%;
    }
    &__icon {
        position: relative;
        top: 3rem;
        left: 36%;
        z-index: 6;
        color: $secondary-fossil;
    }
}

//news-cards
.News-cards {
    margin: 6.7rem 0 0 0;
}

//utility classes
._collapsed {
    height: 0;
}

//category bar styles
.News-category {
    display: flex;
    flex-flow: column nowrap;
    &__bar {
        display: flex;
        flex-flow: column nowrap;
    }
    &__content-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-top: 0.08rem solid rgba(207, 202, 202, 0.822);
        border-bottom: 0.08rem solid rgba(207, 202, 202, 0.822);
    }
    &__title-wrapper {
        display: flex;
        align-items: center;
    }
    &__img {
        object-fit: cover;
        height: 2.6rem;
        width: 2.6rem;
        border-radius: 100%;
        box-shadow: 0.08rem 0.7rem 1rem rgba(95, 93, 93, 0.7);
    }
    &__title {
        padding-left: 1rem;
        text-transform: uppercase;
    }
    &__icon-wrapper {
        display: flex;
        font-size: 1.3rem;
    }
    &__icon-down {
        color: $primary-drab;
    }
    &__icon-right {
        color: $primary-drab;
    }
    // category card wrapper
    &__cards-wrapper {
        display: flex;
        flex-flow: column nowrap;
    }
}

// card styles
.News-card {
    // display: flex;
    // flex-flow: column nowrap;
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-auto-rows: 21vh;
    transition: height 1.5s ease-in-out;
    &__front {
        display: flex;
        padding: 2rem 1rem;
        height: 21vh;
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__img {
        object-fit: cover;
        height: 4.2rem;
        width: 4.2rem;
        border-radius: 100%;
    }
    &__text-wrapper {
        display: flex;
        flex-flow: column nowrap;
        margin-left: 1rem;
        width: 80%;
    }
    &__h3 {
        margin-bottom: 0.4rem;
        text-transform: capitalize;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &__p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    //delete or archive divs
    &__delete-div {
        height: 21vh;
        width: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-danger;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        border: none;
    }
    &__save-div {
        height: 21vh;
        width: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-sage;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        border: none;
    }
    &__delete-save-icon {
        font-size: 2rem;
        color: white;
    }
}

//settings page
//header
._settings-header {
    justify-content: center;
    align-items: center;
    &__a {
        align-self: left;
    }
    &__i {
        align-self: left;
        position: relative;
        left: -5rem;
    }
}

.Main-settings {
    background-color: #ECEFF0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    &__h2 {
        color: $primary-sage;
        font-size: 2.2rem;
        line-height: 0.8;
        margin: 3rem 0;
    }
    &__h2-span {
        color: $typo-slate;
        font-weight: lighter;
        font-size: 1.35rem;
    }
    &__h4 {
        color: $typo-slate;
        font-family: $primary-typo;
        font-weight: lighter;
        font-size: smaller;
    }
}

.Categories-cards {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 20px;
    background-color: white;
    margin: 3rem 1rem;
    &__category-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-bottom: 0.06rem solid rgba(175, 174, 174, 0.644);
    }
    &__h3 {
        text-transform: uppercase;
    }
    &__switch {
        margin: 1rem 0;
    }
}

.color-modes-btn {
    border: 0.05rem solid $primary-drab;
    background-color: none;
    font-family: $secondary-typo;
    text-transform: uppercase;
    border-radius: 20px;
    color: $primary-drab;
    padding: 1rem 1.6rem;
    width: fit-content;
    align-self: center;
    margin: 2rem 0;
    font-size: 1.1rem;
}